/*===========================================
FOOTER
=========================================== */

.footer {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  box-shadow: 6px 3px 14px 0px black;
  background-color: #c09f9f;
  line-height: 15px;
  padding: 5px 0;
}
